<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="https://lgvideo.lt/"><img src="/images/logo/lgvideo/80.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="header__nav__option">
          <nav class="header__nav__menu mobile-menu">
            <ul>
              <li class="active"><a href="/index.html">Pagrindinis</a></li>
              <li><a href="/about.html">Apie</a></li>
              <li><a href="/portfolio.html">Portfolio</a></li>
              <li><a href="/services.html">Paslaugos</a></li>
              <li><a href="/contact.html">Kontaktai</a></li>
            </ul>
          </nav>
          <div class="header__nav__social">
            <a href="https://www.facebook.com/lgvideo.lt" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/lgvideo.lt" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/@lgvideo5507" target="_blank"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
