<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Vestuvėms</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="img/hero/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Renginiams</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Komerciniams projektams</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Muzikos klipams</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Reklamai</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>LGvideo.lt</span>
              <h2>Asmeniniams projektams</h2>
              <a href="/contact.html" class="primary-btn">Susisiekite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>